<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>https://dl-app.feejii.com/storage/files/2026/02/22/3/5020167223/1771770065544140.gz?t=699b79bc&rlimit=20&us=tU2ZjJOOQB&sign=f84b09055cddaee2dfc8efdd0f0bdeee&download_name=PUBG%20MOBILE_4.2.0_%E5%85%A8%E7%90%83S3F.ipa&p=8504924-8504924-33652864551</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.tencent.ig6</string>
                <key>bundle-version</key>
                <string>4.2.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>PUBG MOBILE</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
